body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-cotainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
  }
  
  .slider {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .slides {
    min-width: 100%;
    height: 100%;
    transition: transform 3s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes slideAnimation {
    0%, 100% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
  }

  
  .slider {
    animation: slideAnimation 8s ease-in-out infinite;
  }
  